:root{
    --primary: rgb(20, 20, 255);
    --success: rgb(0, 210, 0);
    --danger: rgb(255, 36, 36);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic styling */
.ml-1{
    margin-left: 1rem !important;
}
.ml-2{
    margin-left: 2rem !important;
}
.ml-3{
    margin-left: 3rem !important;
}
.ml-4{
    margin-left: 4rem !important;
}
.ml-5{
    margin-left: 5rem !important;
}
.mr-1{
    margin-right: 1rem !important;
}
.mr-2{
    margin-right: 2rem !important;
}
.mr-3{
    margin-right: 3rem !important;
}
.mr-4{
    margin-right: 4rem !important;
}
.mr-5{
    margin-right: 5rem !important;
}
.mx-1{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.mx-2{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}
.mx-3{
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}
.mx-4{
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}
.mx-5{
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}
.my-1{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.my-2{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.my-3{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.my-4{
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.my-5{
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}
.pl-1{
    padding-left: 1rem !important;
}
.pl-2{
    padding-left: 2rem !important;
}
.pl-3{
    padding-left: 3rem !important;
}
.pl-4{
    padding-left: 4rem !important;
}
.pl-5{
    padding-left: 5rem !important;
}
.pr-1{
    padding-right: 1rem !important;
}
.pr-2{
    padding-right: 2rem !important;
}
.pr-3{
    padding-right: 3rem !important;
}
.pr-4{
    padding-right: 4rem !important;
}
.pr-5{
    padding-right: 5rem !important;
}
.px-1{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.px-2{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.px-3{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.px-4{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}
.px-5{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}
.py-1{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.py-2{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.py-3{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.py-4{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.py-5{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.container{
    padding: 20px;
}
.d-inline{
    display: inline !important;
}
.d-block{
    display: block !important;
}
.d-flex{
    display: flex !important;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.text-muted{
    opacity: 0.6;
}
.bg-dark {
    background: #333;
    color: white;
}
/* basic styling ends */

/* button starts */
button{
    font-size: 15px;
    padding: 8px;
    margin: 0px;
    background: none;
    border: 2.5px solid blue;
    border-radius: 6px;
    color: blue;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}
button:hover{
    background: blue;
    color: white;
}
.btn-success{
    color: var(--success);
    border: 2.5px solid var(--success);
}
.btn-success:hover{
    background: var(--success);
    color: white;
}
.btn-danger{
    color: var(--danger);
    border: 2.5px solid var(--danger);
}
.btn-danger:hover{
    background: var(--danger);
    color: white;
}
.btn-dark{
    color: #333;
    border: 2.5px solid #333;
}
.btn-dark:hover{
    color: #fff;
    border: 2.5px solid #262626;
    background: #333;
}
/* button ends */

/* nav starts here */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  /* nav starts here */
  .nav {
    height: 50px;
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    z-index: 999999;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(251, 251, 251);
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav-primary {
    background-color: var(--primary);
  }
  .nav-success {
    background-color: var(--success);
  }
  .nav-danger {
    background-color: var(--danger);
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      position: fixed;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
/* nav ends here */

/* form starts */
input{
    width: 82vw;
    height: 35px;
    margin: 12px 0px;
    display: block;
    border: 0.1px solid #333;
    border-radius: 6px;
    padding-left: 10px;
}
input:active{
    border: 0.1px solid #333;
    border-radius: 10px;
}
form{
    width: 100vw;
    padding: 0 6vw;
    padding-right: 6vw;
}
/* form ends */

/* card starts here */
.card{
    max-width: 250px;
    border: 1px solid rgba(10,10,10,0.5);
    border-radius: 10px;
    margin: 10px;
    margin-right: 10px !important;
    display: inline-block;
}
.card-body{
    padding: 0 25px 10px 25px;
}
.card > p {
    margin: 10px 0;
}
.card > h1,h2,h3,h4 {
    margin: 15px 0 0 0;
}
.card-img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: grayscale(120%) contrast(120%) brightness(60%) saturate(1) ;
}
/* card ends here */

/* list starts here */
ul{
    padding: 0;
    width: 280px;
}
ul li{
    background: rgb(248, 248, 248);
    list-style: none;
    border: 1px solid rgba(40,40,40,0.5);
    border-radius: 4px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
li > span {
    height: 90%;
    width: 1px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-left: 1px solid rgba(40,40,40,0.5);
}
.li-active{
    background: var(--primary);
    color: white;
}
/* list ends here */

/* loader starts */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    margin-left: 45%;
    margin-top: 35vh;
    transform: translate(-50%,-50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* loader ends */
    /* The alert message box */
.alert {
    padding: 20px;
    background-color: white;
    border: 2px solid;
    border-radius: 30px;
    color: var(--primary);
    margin-bottom: 15px;
    position: fixed;
    z-index: 99;
    width: 77vw;
    margin: 30vh 11vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    transition: 0.5s
}
.alert-success {
    color: var(--success);
}
.alert-danger {
    color: var(--danger);
}
@media (max-width: 768px) {
    .alert{
        font-size: 25px;
    }
}
/* The close button */
.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}